<h1>Discussion: <%= @discussion.title %></h1>
<p><%= @discussion.body %></p>


<% form_for @comment, url: discussion_comments_path(@discussion) do |f| %>
  <%= f.text_area :body, placeholder: "Put your comment here" %>
  <br>
  <%= f.submit %>
<% end %>

<h2>Comments</h2>
<% @discussion.comments.each do |comment| %>
  <%= comment.body %>
  <hr>
<% end %>