<h1><%= @post.title %></h1>
<p><%= @post.description %></p>
<p><%= number_to_currency(@post.price) %></p>
<p><%= @post.location %></p>
<%= link_to "Edit", edit_post_path(@post) %>
<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure you want to delete?"} %>

<hr>

<h2>Discussions</h2>

<% if @discussion.errors.any? %>
  <ul>
    <% @discussion.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @discussion, url: post_discussions_path(@post) do |f| %>
  <%= f.text_field :title, placeholder: "Discussion title." %>
  <br>
  <%= f.text_area :body, placeholder: "Discussion body." %>
  <br>
  <%= f.submit %>
<% end %>


<% @post.discussions.each do |discussion| %>
  <p><%= link_to discussion.title, post_discussion_path(@post, discussion) %></p>

  <!-- button_to default to "post", link_to defaults to "get" -->
  <p><%= button_to "Delete", post_discussions_path(@post, discussion), method: :delete, data: {confirm: "Are you sure?"} %></p>

  <hr>
<% end %>
